body {
	background-color: #f7f5f3;
	margin: 0;
	padding: 0
}

div#main_wrapper {
	width: 930px;
	height: 800px;
	position: relative;
	margin: 0 auto 0
}

div#wrapper {
	width: 585px;
	float: right;
	height: 951px;
	margin: 20px auto 0;
	position: relative;
	overflow: visible;
}

div#left_side {
	font-size: 25px;
	text-align: center;
	font-family: oswald;
	padding-top: 200px;
	width: 300px;
	float: left;
	height: 300px;
}

img.logo {
	height: auto;
	width: 300px;
	margin-top: 10px;
	margin-bottom: 5px
}

input.fname,
input.weight {
	margin-bottom: 10px;
	padding: 0px;
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1562625/original_input_back.jpg);
	text-indent: 120px;
	border: 0px;
	color: #787878;
	font-size: 56px;
	letter-spacing: -1px;
	font-weight: 700;
	font-family: 'Oswald';
	width: 558px;
	height: 128px;
	background-repeat: no-repeat;
}

input.weight {
	margin-top: 10px;
}

div.submit {
	position: relative;
	overflow: hidden;
	text-align: center;
	width: 558px;
	margin-top: 0px;
	cursor: pointer;
	font-size: 42px;
	padding: 0;
	font-weight: 700;
	font-family: 'Oswald';
	height: 65px;
	background-color: #efecea;
	color: #787878;
}

div.submit:hover {
	background-color: #787878;
	color: white;
}

div.printed {
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: 481px;
	left: 5px;
	z-index: 9998;
	width: 547px;
	font-size: 45px;
	height: 581px;
	color: white;
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1565829/original_printed-back.png);
	background-repeat: no-repeat;
}

div.printeda {
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 5px;
	z-index: 9998;
	width: 547px;
	font-size: 45px;
	height: 581px;
	color: white;
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1565829/original_printed-back.png);
	background-repeat: no-repeat;
}

.imgshadow {
	position: absolute;
	margin-top: -1px;
	z-index: 9999;
}

div#name_render,
div#weight_render {
	color: #6e819b;
	font-family: 'Kaushan Script';
}

div#weight_render {
	margin-top: -22px;
}

.postfb,
.posttw,
.postpin2 {
	margin: 0px;
	bottom: 120px;
	position: absolute;
	background-color: #828282;
	width: 65px;
	height: 65px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
}

.postfb {
	right: 165px;
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1573299/original_ppf.png);
}

.posttw {
	right: 15px;
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1573301/original_pptw.png);
}

.postpin2 {
	right: 90px;
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1573300/original_pppin.png);
}

.sttext {
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1573314/original_share-your-success.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: 120px;
	left: 15px;
	width: 292px;
	height: 65px;
}

.postfb:hover {
	background-color: #5775b1;
}

.posttw:hover {
	background-color: #00b0df;
}

.postpin2:hover {
	background-color: #d73633;
}

.error {
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1575285/original_original_input_back_error.png) !important;
}

form {
	position: relative;
}

.required_name {
	left: 533px;
	width: 24px;
	height: 128px;
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1575302/original_required.png);
	position: absolute;
}

.required_weight {
	left: 533px;
	width: 24px;
	top: 148px;
	height: 128px;
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1575302/original_required.png);
	position: absolute;
}

.required_weight_max {
	left: 99px;
	width: 458px;
	top: 261px;
	height: 15px;
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1681784/original_weightmax.png);
	position: absolute;
}

.img_printed {
	position: absolute;
	top: 15px;
	width: 520px;
	height: 468px;
	padding: 0;
	left: 14px
}

.initial {
	position: absolute;
	top: 0px;
}

.initialized {
	position: absolute;
	top: 481px;
}

canvas#foo {
	position: absolute;
	left: 167px;
	top: 98px;
	background: color: white;
	z-index: 9999;
}

canvas#foo1 {
	position: absolute;
	left: 167px;
	top: 98px;
	background: color: white;
	z-index: 9999;
}

.needle {
	background-image: url(https://d2xcq4qphg1ge9.cloudfront.net/assets/17276/1681251/original_needle.png);
	width: 168px;
	height: 168px;
	z-index: 40;
	left: 202px;
	top: 120px;
	position: absolute;
}